---

//import {Image} from 'astro:assets';
//import logo from '../images/forest-camp-logo.png';
---
<header class="header">
    <div class="container">
      <div class="logo">
        <a href="/">
          <span>Hiking trail</span>
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="/oneproject">Home</a></li>
          <li><a href="/oneproject/blog">Blog</a></li>
          <li><a href="/oneproject/about">About</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <style>
    .header {
  height: 70px;
  background: var(--color-primary);
}

.header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}


.header nav ul {
  display: flex;
}

.header nav ul li {
  padding: 0 10px;
}

.header nav ul li a {
  color: #fff;
}
.header span{
    color: white;
}
  </style>